# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
*.code-workspace

# Local Scripts
scratch/
temp/
